geometry : LHCb
pid : LHCbGenericPID
paramsDecaying : M, P, PT, vtxX, vtxY, vtxZ, origX, origY, origZ
paramsStable : P, PT, origX, origY, origZ, IP, SIGMAIP, ProbNNk, ProbNNpi
paramsTwoBody : M2
@0
	name : Bp_0
@1
	name : Dp_0
@2
	name : D0b_0
@3
	name : Km_0
	smear : LHCbGeneric
    smear : LHCbGenericIP
@4
	name : pip_0
	smear : LHCbGeneric
    smear : LHCbGenericIP
@5
	name : pip_1
	smear : LHCbGeneric
    smear : LHCbGenericIP
@6
	name : Kp_0
	smear : LHCbGeneric
    smear : LHCbGenericIP
@7
	name : pim_0
	smear : LHCbGeneric
    smear : LHCbGenericIP
