acceptance : AllIn

geometry : LHCb

paramsDecaying : M, P, PX, PY, PZ, PT
paramsStable : P, PX, PY, PZ, PT, IP, SIGMAIP

param : Q2TRUE M2 2 3 TRUE
param : Q2 M2 2 3
param : THETA theta 1 2 2 3 TRUE

@0
	name : B
@1
	name : K
	smear : LHCbGeneric
    smear : LHCbGenericIP
@2
	name : ep
	smear : LHCbGeoBrems
    smear : LHCbGenericIP
@3
	name : em
	smear : LHCbGeoBrems
    smear : LHCbGenericIP
