geometry : LHCb
parent : s
acceptance : AllIn
energy : 13 

paramsDecaying : M, PX, PY, PZ, FD, ENDVTX_X, ENDVTX_Y, ENDVTX_Z
paramsStable : PX, PY, PZ, IP, SIGMAIP

@0
	name : Kp
@1
	name : pip1
	smear : LHCbGeneric
    smear : LHCbGenericIP
@2
	name : pip2
    altMass : mu- e-
	smear : LHCbGeneric
    smear : LHCbGenericIP
@3
    name : pim
    altMass : mu- e-
    smear : LHCbGeneric
    smear : LHCbGenericIP
