geometry : LHCb
pid : LHCbGenericPID
paramsDecaying : M, P, PT, FD
paramsStable : P, PT, E, IP, SIGMAIP
paramsTwoBody : M2

param : mJpsiGammaK M 4 5 3
param : mJpsiGamma M 4 5 

@0
	name : Lambdab0_0
@1
	name : chic1_0
@2
	name : pp_0
	smear : LHCbGeneric
@3
	name : Km_0
	smear : LHCbGeneric
    altMass : pi-
@4
	name : Jpsi_0
@5
	name : gamma_0
	smear : LHCbPhoton
@6
	name : mup_0
	smear : LHCbGeneric
@7
	name : mum_0
	smear : LHCbGeneric
